{% extends 'base.html.twig' %}

{# herite de tout base.html.twig #}
{% block contenu %}
    <div class="container-fluid">
        {% block description %}
            <div class="row">
                <div class="col-md-9">
                    <h3>
                        stage numero : {{idStage}}
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>
                        Entreprise X
                    </h3>
                    <ul class="list-unstyled">
                        <li class="list-item">
                            Activité X
                        </li>
                        <li class="list-item">
                            Adresse X
                        </li>
                        <li class="list-item">
                            Email X@X.X
                        </li>
                    </ul>
                </div>
            </div>
        {% endblock %}
        {% block boutonRetour %}
            <div class="row">
                <div class="col-md-12" align="right">
                    <button type="button" class="btn btn-success"  >
                        Retour
                    </button>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}